<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-01-29T13:01:04Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hrbrmstr/Development/WeatherFlow Local/WeatherFlow Local.xcodeproj</string>
</dict>
</plist>
